/* Body */
body {
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(0,0,33); */
    background-image: linear-gradient(rgb(3, 3, 83),rgb(0,0,32));
    opacity: .8;
}

/* Nav Bar  */
nav {
    background-color: white;
    opacity: .8;
    display: inline-block;
}

.logo {
    background-color: black;
    height: 200px;
    width:380px;
    
}